body, ul, li, h1, h2, h3, h4, h5, a, img {
    margin: 0;
    padding: 0;
}
.clearfix {
  overflow: auto;
}

li {
    list-style: none;
}
body {
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
}

header.menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15%;
    background: white;
    text-align: right;
    box-sizing: border-box;
}

ul.secciones {
    color: #95989A;
    font-size: 2em;
    position: absolute;
    top: 50%;
    right: 0;
    padding: 30px;
    transform: translateY(-50%);
}

.arrow-left {
    position: absolute;
    right: 10px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right:10px solid #3B3B3B;
}

.body {
    position: absolute;
    right: 0;
    width: 85%;
    height: 100vh;
}

section.yo {
    background: url(../img/yo-bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    text-align: center;
    color: white;
    font-size: 3em;
}

.center {
    max-width: 700px;
    margin: 0 auto;
    padding-top: 60px;
}

section.yo img {
    max-width: 180px;
}
.container-top {
    width: 100%;
    margin: 50px auto;
    padding-bottom: 75px;
}
.curly-left {
    width: 5%;
    float: left;
}
.curly-left img {
    width: 100%;
}
.text-top {
    margin-top: 0;
    width: 90%;
    float: left;
    padding: 0 50px;
    box-sizing: border-box;
}
.curly-right {
    width: 5%;
    float: left;
}
.curly-right img {
    width: 100%;
}
section.memento {
    margin-top: -2px;
    background: url(../img/memento-bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    text-align: center;
    color: white;
}
section.memento .left-text {
    text-align: right;
    float: left;
    display: inline-block;
    width: 50%;
    padding: 150px 40px 50px 60px;
    box-sizing: border-box;
}
section.memento .right-text {
    text-align: left;
    display: inline-block;
    width: 50%;
    padding: 150px 60px 50px 40px;
    box-sizing: border-box;
}
section.memento h2 {
    font-size: 2.5em;
    font-weight: 100;
}
section.memento .line {
    max-width: 600px;
    border: solid 2px white;
    margin: 0 auto 50px;
    box-sizing: border-box;
}

.center-text {
    margin-bottom: 50px;
    padding: 0 50px;
    box-sizing: border-box;
}
.box {
    padding: 0 50px;
    box-sizing: border-box;
    width: 33.3333333%;
    float: left;
    height: 150px;
}
.box1 {
    background: url(../img/time-bg.png);
}
.box2 {
    background: url(../img/bell-bg.png);
}
.box3 {
    background: url(../img/right-bg.png);
}
.box h2 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
section.metas {
    background: url(../img/metas-bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}
section.metas .lead {
  background: white;
  padding: 10px;
  color: #95989A;
  font-size: 3em;
}
.imagenes-metas {
  margin: 50px auto;
  max-width: 40%;
  border: solid 2px white;
  padding: 10px;
  box-sizing: border-box;
  font-size: 0em !important;
}
.imagenes-metas img {
  width: 50%;
  padding: 0;
  margin: 0;
}
